.app,
.app * {
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: var(--ui-kit-space-2);
  padding-bottom: var(--ui-kit-space-2);
}

.createButtonContainer {
  padding-right: var(--ui-kit-space-2);
}

.tabList {
  margin-top: var(--ui-kit-space-1);
  padding-right: var(--ui-kit-space-2);
}

.view {
  padding-top: var(--ui-kit-space-2);
  padding-bottom: var(--ui-kit-space-2);
  overflow-y: auto;
  height: calc(100vh - 12rem);
  padding-right: var(--ui-kit-space-2);
  border-bottom: 1px solid var(--ui-kit-color-border);
}

.emptyView {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-right: var(--ui-kit-space-2);
}
